.example {
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.25rem;
    line-height: 6.25rem;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
}
